AAI4001_FinalProject_Group4FastAPI-output.md
AAI4001_FinalProject_Group4FastAPI-output.txt
AAI4001_FinalProject_Group4/fastapi_backend/preprocessing.pkl
AAI4001_FinalProject_Group4/fastapi_backend/model.pkl